{{#if post.length}} 
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each post as |post|}}
    <ul>
      <article class="post">
    <div class="title">
       <a href="/post/{{post.id}}">{{post.title}}</a>
    </div>
    <div class="meta">
        <strong>Posted on {{format_date createdAt}}</strong>
    </div>
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
      </article>
    </ul>
    {{/each}}
  </ol>
</section>
{{/if}} 

<div>
    <button class="createbtn" type="submit"><a href="/dashboard/newpost" class="create-btn">Create New Post</a></button>
</div>