<article>
  <a href="/dashboard"> &larr; Back To Dashboard</a>

  <form class="edit_post_form">
      <h2>
    Edit Post
  </h2>
    <div>
      <label for="title">Title:</label>
      <input id="title" name="title" type="text" value="{{posts.title}}" />
    </div>
    <div>
      <label for="content">content:</label>
      <textarea id="content" name="content" type="text">{{posts.post_text}}</textarea>
    </div>
    <div>
    <button class="edit_post">Save Post</button>
    <button type="button" class="delete_post_btn">Delete Post</button>
    </div>
  </form>
</article>

<script src="/js/editpost.js"></script>
<script src="/js/deletepost.js"></script>