<article>
  <a href="/dashboard"> &larr; Back To Dashboard</a>
  <h2>
    Edit Post
  </h2>
  <form class="edit_post_form">
    <div>
      <input name="title" type="text" value="{{posts.title}}" />
    </div>
    <div>
      <textarea name="content" type="text">{{posts.post_text}}</textarea>
    </div>
    <div>
    <button type="submit">Save Post</button>
    <button type="button" class="delete_post_btn">Delete Post</button>
    </div>
  </form>
</article>

{{>comments}}

<script src="/js/editpost.js"></script>
<script src="/js/deletepost.js"></script>